<div class="container">
  <!-- <div class="row"></div> -->
  
  
<div class="list row">
  <div class="col-md-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Rechercher par mail" [(ngModel)]="mail" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="getUtilisateurByMail()">
          Rechercher
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <br>
        <h3>Liste des utilisateurs</h3>
        <hr>
        <table class="table table-bordered border-primary">    
            <thead>
              <tr class="table-info">
                <th scope="col"></th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">numéro rue </th>
                <th scope="col">Rue </th>
                <th scope="col">Code postal </th>
                <th scope="col">Ville</th>
                <th scope="col">Email</th>
                <th scope="col">Date d'inscription</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-secondary" 
                *ngFor="let utilisateurCourant of utilisateurs; let i = index"
                [class.active]="i == indexCourant"
                (click)="setActiveUtilisateur(utilisateurCourant, i)">
                <td><input type="checkbox" class="form-check-input"></td>
                <td>{{ utilisateurCourant.nom }}</td>
                <td>{{ utilisateurCourant.prenom }}</td>
                <td>{{ utilisateurCourant.adresse.numeroRue }}</td>
                <td>{{ utilisateurCourant.adresse.rue }}</td>
                <td>{{ utilisateurCourant.adresse.codePostale }}</td>
                <td>{{ utilisateurCourant.adresse.ville }}</td>
                <td> {{ utilisateurCourant.mail }}</td>
                <td> {{ utilisateurCourant.dateInscription | customDate }}</td>
                <td><button class="btn btn-warning btn-sm" routerLink="/modification/{{ utilisateurCourant.id }}">modifier</button>
                  <!-- <a class="badge bg-secondary" routerLink="/modification/{{ utilisateurCourant.id }}">modifier</a> -->
                  <button (click)="deleteUtilisateur(utilisateurCourant.id)" class="btn btn-danger btn-sm">supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
</div>

