<div class="bg-white p-5 rounded shadow">
<div class="card mb-3">
    <img
      src="{{sortie.fields.cover_url}}" height="700"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{sortie.fields.title}}</h5>
      <p class="card-text">
        {{sortie.fields.description}}
      </p>

      <p class="card-text">
        <span class="fa-stack position">
          <i class="fa fa-map-pin fa-stack"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
      </span>
        <!-- <i class="fas fa-map-pin"></i> -->
        {{sortie.fields.address_street}} {{sortie.fields.address_zipcode}}, {{sortie.fields.address_city}}
      </p>
      <p class="card-text">
        <span class="fa-stack calendrier">
          <i class="fa fa-calendar-alt fa-stack"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
      </span>
        <!-- <i class="fas fa-calendar-alt"></i> -->
        Début:
        <small class="text">{{sortie.fields.date_start | customDate}}</small>
        Fin:
        <small class="text">{{sortie.fields.date_end | customDate}}</small>
      </p>

      <p class="card-text">
        <span class="fa-stack acces">
          <i class="fa fa-door-open fa-stack"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
      </span>
        <!-- <i class="fas fa-door-open"></i> -->
        <small class="text"> {{sortie.fields.access_type}}</small>
      </p>

      <p class="card-text">
        <span class="fa-stack prix">
          <i class="fa fa-money-bill-wave fa-stack"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
      </span>
        <!-- <i class="fas fa-money-bill-wave"></i> -->
        <small class="text"> {{sortie.fields.price_type}} {{sortie.fields.price_detail}}</small>
      </p>
     

      <p class="card-text">
        <span class="fa-stack transport">
          <i class="fa fa-bus fa-stack"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
      </span>
        <!-- <i class="fas fa-bus"></i> -->
        <small class="text"> {{sortie.fields.transport}}</small>
      </p>

      <p class="card-text" *ngIf="isBlind">
        <span class="fa-stack blind">
          <i class="fa fa-low-vision fa-stack"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
      </span>
        <!-- <i class="fas fa-low-vision"></i> -->
      </p>

      <p class="card-text" *ngIf="isDeaf">
        <span class="fa-stack deaf">
          <i class="fa fa-deaf fa-stack"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
      </span>
        <!-- <i class="fas fa-deaf"></i> -->
      </p>

      

      <p class="card-text">
        <a target="__blank" href="{{ sortie.fields.contact_url }}">{{ sortie.fields.contact_url }}</a>
      </p>

    </div>
  </div>
</div>

<br>
<br>

