
.position {
    color: red;
}
.calendrier {
    color:chocolate;
}
.acces {
    color: brown;
}
.prix {
    color: green;
}
.transport {
    color: aqua;
}
.blind {
    color: blue;
}
.deaf {
    color:blueviolet;
}
.card{
    border-color: burlywood;
}