<google-map 
height="700px" 
width="100%"
[zoom]="zoom"
[center]="center"
[options]="options"
(mapClick)="click($event)">

  <map-marker
  #markerElem="mapMarker"
  *ngFor="let marker of markers" 
  [position]="marker.position" 
  [title]="marker.title"
  [options]="marker.options"
  (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window  [innerHtml]="infoContent" ></map-info-window>

</google-map>

<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>