<!-- <div class="row" *ngIf="!isListFavoris" >
    <span>Vous n'avez aucun favori !</span>
</div>  -->
<section class="vh-50" style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            
            <ul class="list-group shadow espace" *ngFor="let sortieCourante of sortiesFavorites; let i = index" [class.active]="i == indexCourant"
            (click)="setActiveSortie(sortieCourante, i)">
                
                <li class="list-group-item">
                   
                    
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <a routerLink="/details/{{ sortieCourante._id }}">
                                <p class="font-italic mb-0"></p>
                                <!-- mt-0 font-weight-bold mb-2 -->
                            <h5 class="mt-0 font-weight-bold mb-2">{{ sortieCourante.fields.title }}</h5>
                        </a>
                            <p class="font-italic text-muted mb-0 small">{{ sortieCourante.fields.address_name }} 
                                {{ sortieCourante.fields.address_street }}, {{ sortieCourante.fields.address_zipcode }} {{ sortieCourante.fields.address_city }}</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-italic text-muted mb-0 small">Début: {{ sortieCourante.fields.date_start | customDate }}</h6>
                                <h6 class="font-italic text-muted mb-0 small">Fin: {{ sortieCourante.fields.date_end | customDate }}</h6>
                                <button type="button" class="coeur" (click)="retirerFavori(sortieCourante._id)"><i class="fas fa-heart"></i>
                                </button>                    
                            </div>
                        </div>
                        <img src="{{ sortieCourante.fields.cover_url }}" alt="Generic placeholder image" width="500" class="ml-lg-5 order-1 order-lg-2">
                    </div>
                </li> 
            </ul> 
        </div>
    </div>
</div>
</section>
<br>
<br>