body {
    background: linear-gradient(to right, #c04848, #480048);
    /* min-height: 100vh */
}

.text-gray {
    color: #aaa
}

img {
    height: 170px;
    width: 180px
}

.coeur {
    border: none;
    background-color: transparent;
}
.espace {
    margin-bottom: 10px;
}