
.position {
    position: relative;
    left: 220px;
}

.coeur {
    border: none;
    background-color: transparent;
}
.espace {
    margin-bottom: 40px;
}
.card:hover{
    border-color: cadetblue;
}