<!-- <div class="col-lg-12 mx-auto"> -->
  <br>
    <div class="list row">
        
        <div class="col-sm-4 espace" *ngFor="let sortieCourante of sorties; let i = index" [class.active]="i == indexCourant"
          (click)="setActiveSortie(sortieCourante, i)">
          
          
          <div class="card h-100" style="width: 18rem;">
            <a routerLink="/details/{{ sortieCourante._id }}">
            <img src="{{ sortieCourante.fields.cover_url }}" width="100" height="200" class="card-img-top" alt="..." />
          </a>
            <div class="card-body h-100">
              <p class="card-text">
                <a routerLink="/details/{{ sortieCourante._id }}">
                <td class="font-italic mb-0">{{ sortieCourante.fields.title }}</td>
                </a>
              </p>
              <p class="card-text">
                <td class="font-italic mb-0">{{ sortieCourante.fields.description | slice:0:80}}...<a routerLink="/details/{{ sortieCourante._id }}"> Lire plus</a></td>
              </p>
                
                <!-- <a routerLink="/details/{{ sortieCourante._id }}">En savoir plus</a> -->
                <div [style.display]="!this.ajouterFavoris ? 'none': 'block'">
                  <div class="position">
                <button *ngIf="!sortieCourante.isFavoris" type="button" class="coeur" (click)="ajouterFavori(sortieCourante._id)"><i
                    class="far fa-heart"></i>
                </button>
                <button *ngIf="sortieCourante.isFavoris" type="button" class="coeur" (click)="retirerFavori(sortieCourante._id)"><i
                    class="fas fa-heart"></i>
                </button>
              </div>
              </div>

              
            </div>
        </div>

        </div>
    </div>

    <br>
    <br>
  
<!-- </div> -->