<div>
    <nav class="navbar navbar-expand navbar-dark bg-info">
      <a routerLink="" class="navbar-brand"><p class="font-italic mb-0">Air Culture</p></a>
      <div class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a routerLink="" class="nav-link">Accueil</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="routesorties" class="nav-link">Sorties</a>
        </li>
        <div [style.display]="isLoggedIn ? 'none': 'block'">
        <li class="nav-item">
          <a routerLink="inscription" class="nav-link">Inscription</a>
        </li>
      </div>
        <div [style.display]="isLoggedIn ? 'none': 'block'">
        <li class="nav-item">
          <a routerLink="login" class="nav-link">Connexion</a>
        </li>
      </div>
      <div [style.display]="!isLoggedIn ? 'none': 'block'">
        <div [style.display]="!isAdmin ? 'block': 'none'">
        <li class="nav-item">
          <a routerLink="dashboard-user" class="nav-link">Mon espace utilisateur</a>
        </li>
      </div>
      <div [style.display]="isAdmin ? 'block': 'none'">
        <li class="nav-item">
          <a routerLink="dashboard-admin" class="nav-link">Mon espace admin</a>
        </li>
      </div>
    </div>
        <li class="nav-item">
          <a routerLink="rechercheSorties" class="nav-link recherche">Recherche <i class="fas fa-search"></i></a>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
</div>

