<section class="vh-50" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                
                <form *ngIf="!isInscriptionFailed" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Je m'inscris !</p>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-md me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" class="form-control" name="nom" [(ngModel)]="utilisateur.nom" required #nom="ngModel"/>
                    <div class="alert alert-danger" role="alert" *ngIf="nom.errors && f.submitted">nom requis </div>
                    <label class="form-label" for="nom">Votre nom*</label>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-md me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" class="form-control" name="prenom" [(ngModel)]="utilisateur.prenom" required #prenom="ngModel"/>
                    <div class="alert alert-danger" role="alert" *ngIf="prenom.errors && f.submitted">prénom requis </div>
                    <label class="form-label" for="prenom">Votre prénom*</label>
                  </div>
                </div>
                <br>
                
                  <label class="form-label" for="form3Example1c">Votre adresse</label>
                  <hr>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="numeroRue" [(ngModel)]="utilisateur.adresse.numeroRue" required #numeroRue="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="numeroRue.errors && f.submitted">numéro requis </div>
                      <label class="form-label" for="numeroRue">Numéro*</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="rue" [(ngModel)]="utilisateur.adresse.rue" required #rue="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="rue.errors && f.submitted">Rue, Bd, Av,... requis </div>
                      <label class="form-label" for="rue">Rue, Bd, Av*</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="codePostale" [(ngModel)]="utilisateur.adresse.codePostale" required #codePostale="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="codePostale.errors && f.submitted">Code Postal requis </div>
                      <label class="form-label" for="codePostale">Code Postal*</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="ville" [(ngModel)]="utilisateur.adresse.ville" required #ville="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="ville.errors && f.submitted">Code Postal requis </div>
                      <label class="form-label" for="ville">Ville*</label>
                    </div>
                  </div>
                  <hr> 
                  <br>
    
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" class="form-control" name="mail" [(ngModel)]="utilisateur.mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #mail="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="mail.errors && f.submitted">Email requis </div>

                      <div *ngIf="mail.errors &&(mail.touched || mail.dirty)" class ="alert alert-danger">
                        <div [hidden]="!mail.errors?.pattern">
                          Email invalide
                        </div> 
                       </div> 
                      <label class="form-label" for="mail">Votre email*</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" class="form-control" name="pwd" [(ngModel)]="utilisateur.pwd" required minlength="6" #pwd="ngModel"/>
                    <div class="alert alert-danger" role="alert" *ngIf="pwd.errors && f.submitted">
                      <div *ngIf="pwd.errors.required">Mot de passe requis</div>
                      <div *ngIf="pwd.errors.minlength">
                        Le mot de passe doit comprendre au moins 6 caractères
                      </div>
                    </div>
                      <label class="form-label" for="pwd">Choisissez un mot de passe*</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button class="btn btn-primary btn-block">S'inscrire</button>
                  </div>
                  <div class="form-group">
                    <div class="alert alert-success" role="alert" *ngIf="f.submitted && !isInscriptionFailed">                   
                      Votre compte a bien été créé !
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isInscriptionFailed">                   
                      {{errorMessage}}
                    </div>
                  </div>
                  <br>
                
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>

