
<section class="vh-50" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <form *ngIf="!isModificationFailed" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Modification !</p>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="nom" [(ngModel)]="user.nom" required #nom="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="nom.errors && f.submitted">nom requis </div>
                      <label class="form-label" for="nom">Nom</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="prenom" [(ngModel)]="user.prenom" required #prenom="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="prenom.errors && f.submitted">prénom requis </div>
                      <label class="form-label" for="prenom">Prénom</label>
                    </div>
                  </div>
                  <br>
                  <label class="form-label" for="form3Example1c">Adresse</label>
                  <hr>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="numeroRue" [(ngModel)]="user.adresse.numeroRue" required #numeroRue="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="numeroRue.errors && f.submitted">numéro requis </div>
                      <label class="form-label" for="numeroRue">Numéro</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="rue" [(ngModel)]="user.adresse.rue" required #rue="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="rue.errors && f.submitted">Rue, Bd, Av,... requis </div>
                      <label class="form-label" for="rue">Rue, Bd, Av</label>
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="codePostale" [(ngModel)]="user.adresse.codePostale" required #codePostale="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="codePostale.errors && f.submitted">Code Postal requis </div>
                      <label class="form-label" for="codePostale">Code Postal</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-map-marker-alt fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" class="form-control" name="ville" [(ngModel)]="user.adresse.ville" required #ville="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="ville.errors && f.submitted">Code Postal requis </div>
                      <label class="form-label" for="ville">Ville</label>
                    </div>
                  </div>
                  <hr> 
                  <br>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-md me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" class="form-control" name="mail" [(ngModel)]="user.mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #mail="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="mail.errors && f.submitted">Email requis </div>

                      <div *ngIf="mail.errors &&(mail.touched || mail.dirty)" class ="alert alert-danger">
                        <div [hidden]="!mail.errors?.pattern">
                          Email invalide
                        </div> 
                       </div> 
                      <label class="form-label" for="mail">Votre email</label>
                    </div>
                  </div>
                  
                <!-- <div [style.display]="!modifierPwd ? 'none': 'block'">
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-lock fa-md me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="password" class="form-control" name="pwd" [(ngModel)]="user.pwd" required minlength="6" #pwd="ngModel"/>
                  <div class="alert alert-danger" role="alert" *ngIf="pwd.errors && f.submitted">
                    <div *ngIf="pwd.errors.required">Mot de passe requis</div>
                    <div *ngIf="pwd.errors.minlength">
                      Le mot de passe doit comprendre au moins 6 caractères
                    </div>
                  </div>
                    <label class="form-label" for="pwd">Mot de passe</label>
                  </div>
                </div>
              </div> -->

                  <!-- <div class="d-flex justify-content-right mx-4 mb-3 mb-lg-4"> -->
                    <div class="row">
                      <div class="col-md-6">
                    <button (click)="updateUtilisateur()" class="btn btn-primary btn-block">Modifier</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-danger btn-block" (click)="backClicked()">Annuler</button>
                  </div>
                  </div>
                  <!-- </div> -->
                  <br>
                  <div class="form-group">
                    <div class="alert alert-success" role="alert" *ngIf="f.submitted && !isModificationFailed">                   
                      Votre modification a bien été prise en compte !
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isModificationFailed">                   
                      {{errorMessage}}
                    </div>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="http://www.projetcoal.org/coal/wp-content/uploads/2017/05/marievelardi.jpg" class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>


