
  <br>
  <br>
  <section class="vh-50" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Je me connecte !</p>
                  
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-md me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control" name="mail" [(ngModel)]="formConnexion.mail" required #mail="ngModel"/>
                        <div class="alert alert-danger" role="alert" *ngIf="mail.errors && f.submitted">Email requis </div>
                        <label class="form-label" for="mail">Votre email*</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-md me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" class="form-control" name="pwd" [(ngModel)]="formConnexion.pwd" required minlength="6" #pwd="ngModel"/>
                      <div class="alert alert-danger" role="alert" *ngIf="pwd.errors && f.submitted">
                        <div *ngIf="pwd.errors.required">Mot de passe requis</div>
                        <div *ngIf="pwd.errors.minlength">
                          Mot de passe comprenant au moins 6 caractères
                        </div>
                      </div>
                        <label class="form-label" for="pwd">Votre mot de passe*</label>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button class="btn btn-primary btn-block">Se connecter</button>
                    </div>
                    <div class="form-group">
                      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                    
                        {{errorMessage}}
                      </div>
                    </div>
                    <br>
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://www.montpellier.fr/uploads/Image/b5/36702_159_shutterstock_1049747171-1-.jpg" class="img-fluid" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>

  
