<!-- <section class="vh-50" style="background-color: #eee;"> -->
  <div class="bg-white p-5 rounded shadow">
<div class="alert alert-info">
    Bonjour {{user.prenom}}, bienvenue sur votre espace.
  </div>

  <div class="container">
    <div class="main-body">
    
          
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Profil utilisateur</li>
            </ol>
          </nav>
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://www.icone-png.com/png/54/53783.png" alt="Admin" class="rounded-circle" width="150">
                    
                    <div class="mt-3">
                      <h4>{{user.prenom}}</h4>
                      <p class="text-secondary mb-1"><i class="fas fa-map-marker-alt"></i> {{user.adresse.ville}}</p>
                      <button (click)="onDeconnect()" class="btn btn-primary">Se déconnecter</button>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">@bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.nom}}
                    </div>
                  </div>
                  <hr>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prénom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.prenom}}
                    </div>
                  </div>
                  <hr>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.mail}}
                    </div>
                  </div>
                  <hr>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Adresse</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.adresse.numeroRue}} {{user.adresse.rue}}, {{user.adresse.codePostale}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " routerLink="/modification/{{ user.id }}">Modifier</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <div class="mt-3">
                  <div class="row">

                    <div class="col-md-4">
                      <a href="" routerLink="/mesFavoris">Accéder à mes favoris</a>
                      <br>
                      <br>
                      <a href="" routerLink="/mesFavoris"><i class="fas fa-star fa-5x"></i></a>               
                      
                         </div>

                    <div class="col-md-4">
                  <a href="" routerLink="/map">Voir les activités autour de moi</a>
                  <br>
                  <br>
                  <a href="" routerLink="/map"><i class="fas fa-map-marked-alt fa-5x"></i></a>               
                  
                     </div>
                     <div class="col-md-4">
                  <a href="" routerLink="/mapAdresse">Voir les activités autour de mon domicile <i class="fas fa-home"></i></a>
                  <br>
                  <a href="" routerLink="/mapAdresse"><i class="fas fa-map fa-5x"></i></a>
                </div>
                </div>
                </div>
              </div>
            </div>
          </div>
            
          
          
        </div>
    </div>
  </div>

  <br>
  <br>

<!-- </section> -->