<section class="vh-50" style="background-color: #eee;">
<br>
<!-- <div *ngIf="isAdmin"> -->
<div class="alert alert-info">
    Bonjour {{user.prenom}}, bienvenue sur votre espace.
  </div>
  
  <div class="container">
    <div id="content" class="content p-0">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
    
            <div class="profile-header-content">
                <div class="profile-header-img">
                    <img src="https://www.icone-png.com/png/54/53782.png" alt="" />
                </div>
    
                <div class="profile-header-info">
                    <h4 class="m-t-sm">{{user.nom}} {{user.prenom}}</h4>
                    <p class="m-b-sm">Administratrice</p>
                    <button (click)="onDeconnect()" class="btn btn-xs btn-primary mb-3 btn-sm">Se déconnecter</button>
                </div>
            </div> 

         </div>
      </div>
    </div>
    <br>
    <br>
    
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <div class="col-md-12">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Rechercher par mail" [(ngModel)]="mail" />
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" (click)="getUtilisateurByMail()">
              Rechercher
            </button>
          </div>
        </div>
      </div>
<hr>


<div class="container bootstrap snippets bootdey">      
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                      
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Utilisateur.trice.s</span></th>
                                <th><span>Adresse</span></th>
                                <th class="text-center"><span>Email</span></th>
                                <th><span>Inscrit.e</span></th>
                                <th>Gestion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let utilisateurCourant of utilisateurs; let i = index"
                                [class.active]="i == indexCourant"
                                (click)="setActiveUtilisateur(utilisateurCourant, i)">
                                    <td>
                                        <img src="https://www.icone-png.com/png/54/53783.png" alt="">
                                        <a  class="user-link">{{ utilisateurCourant.nom }} {{ utilisateurCourant.prenom}} </a>
                                        <span class="user-subhead">{{ utilisateurCourant.role }}</span>
                                    </td>
                                    <td>{{ utilisateurCourant.adresse.numeroRue }} {{ utilisateurCourant.adresse.rue }} {{ utilisateurCourant.adresse.codePostale }} {{ utilisateurCourant.adresse.ville}}</td>
                                    <td class="text-center">
                                        <span class="label label-default">{{ utilisateurCourant.mail }}</span>
                                    </td>
                                    <td>
                                        <a >{{ utilisateurCourant.dateInscription | customDate }}</a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a routerLink="/detailsUtilisateur/{{ utilisateurCourant.id }}" class="table-link text-warning">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a routerLink="/modification/{{ utilisateurCourant.id }}" class="table-link text-info">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                         
                                        <button type="button"(click)="deleteUtilisateur(utilisateurCourant.id)" class="table-link suppression danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

</section>
<br>
<br> 
    
    