<br>
<div class="container">
  <div class="row mb-5">
    <div class="col-lg-9 mx-auto">
      <div class="bg-white p-5 rounded shadow">

        <!-- <form action=""> -->
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input type="search" placeholder="Recherche par arrondissement" [(ngModel)]="arrdt"
              aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-info"
                (click)="rechercherSortiesByArrdt()"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <button id="button-addon2" type="submit" (click)="rechercherSortiesByCategorie()"
                class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
            </div>
            <input type="search" placeholder="Recherche par mot clé: exemple concert" [(ngModel)]="categorie"
              aria-describedby="button-addon2" class="form-control border-0 bg-light">
          </div>
        </div>

        <div class="row">
          <div class="col-md-11">
            <select class="form-control bg-light rounded rounded-pill shadow-sm" (change)="selectChangeHandler($event)">
              <option>Choisissez le type</option>
              <option value="gratuit">Gratuit</option>
              <option value="payant">Payant</option>
              <option value="conso">Conso</option>
            </select>
          </div>
          <div class="col-md-1">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"
              (click)="rechercherSortiesByTypePrix()"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <!-- </form> -->

        <!-- <i class="fas fa-deaf"></i> -->
        <br>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-info btn-rounded" (click)="rechercherSortiesPourAveugles()">Adaptée aux
              malvoyants <i class="fas fa-low-vision"></i> </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-rounded"
              (click)="rechercherSortiesPourMalentendants()">Adaptée aux malentendants <i class="fas fa-deaf"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
    <br>

    <div class="list row">

      <!-- <div class="row"> -->
        
        <div class="col-sm-4 espace" *ngFor="let sortieCourante of sorties; let i = index" [class.active]="i == indexCourant"
          (click)="setActiveSortie(sortieCourante, i)">
          
          
          <div class="card h-100" style="width: 18rem;">
            <a routerLink="/details/{{ sortieCourante._id }}">
            <img src="{{ sortieCourante.fields.cover_url }}" width="100" height="200" class="card-img-top" alt="..." />
          </a>
            <div class="card-body h-100">
              <p class="card-text">
                <a routerLink="/details/{{ sortieCourante._id }}">
                <td class="font-italic mb-0">{{ sortieCourante.fields.title }}</td>
                </a>
              </p>
              <p class="card-text">
                <td class="font-italic mb-0">{{ sortieCourante.fields.description | slice:0:80}}...<a routerLink="/details/{{ sortieCourante._id }}"> Lire plus</a></td>
              </p>
                
                <!-- <a routerLink="/details/{{ sortieCourante._id }}">En savoir plus</a> -->
                <!-- <div [style.display]="!this.ajouterFavoris ? 'none': 'block'">
                  <div class="position">
                <button *ngIf="!sortieCourante.isFavoris" type="button" (click)="ajouterFavori(sortieCourante._id)"><i
                    class="far fa-heart"></i>
                </button>
                <button *ngIf="sortieCourante.isFavoris" type="button" (click)="retirerFavori(sortieCourante._id)"><i
                    class="fas fa-heart"></i>
                </button>
              </div>
              </div> -->

              
            </div>
        </div>

        </div>
        
      <!-- </div> -->
    </div>


  
</div>

<br>
<br>