<div class="bg-white p-5 rounded shadow">
<section class="vh-50" style="background-color: rgb(255,250,250)">
  <div class="px-4 py-3">
    <h2 class="mb-0">Bienvenue sur <p class="font-italic mb-0">Air Culture</p></h2>
    <div class="p-4 rounded shadow-sm bg-light">
        <p class="font-italic mb-0">« La culture, c'est ce qui répond à l'homme lorsqu'il se demande ce qu'il fait sur terre » écrivait 
          André Malraux. Si vous vous êtes déjà posé la question de ce que vous faite sur terre, alors vous êtes au bon endroit pour 
          explorer et vous nourrir de la richesse culturelle de Paris, où « il a été le plus pensé, le plus parlé, le plus écrit » 
          au monde selon Jean Giraudoux. <b>Air Culture</b> a l’ambition de vous faciliter le voyage dans cet océan de manifestations 
          culturelles, plus riches les unes que les autres. A travers une sélection de programmes incontournables ou plus discrets, 
          tout votre être sera reconnaissant des ailes du bonheur qu'<b>Air Culture</b> espère vous offrir...
        </p>                                         
    </div>
</div>
</section>
</div>


<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://charlotteaxios-charlotteagenda.netdna-ssl.com/wp-content/uploads/2017/08/artist-Sydney-Durrett-making-money-in-charlotte.jpg" height="700" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Des ateliers,</h3>
        <p></p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://scd.infomigrants.net/media/resize/my_image_medium/4d68b1eed16998e2325015f996d1338407988388.png" height="700" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">concerts,</h3>
        <p></p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://brest-hotel.com/wp-content/uploads/2019/10/cc3d100c0356863a01ab53d0caf82b.jpg" height="700" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">spectacles et plein d'autres...</h3>
        <p></p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <br>
  <br>


  <br>
  <br>
  <br>
  <br>

  <div class="bg-white p-5 rounded shadow">
  <section class="vh-50" style="background-color: white">
    <div class="px-4 py-3">
      <h2 class="mb-0"></h2>
      <div class="p-4 rounded shadow-sm bg-light">
          <p class="font-italic mb-0">
          Concerts, films, expositions, balades, visites touristiques, activités sportives ou encore ateliers pratiques: 
          découvrez de multiples activités à Paris.
          Encore plus que les étés précédents, nous avons envie de profiter...de prendre un bol d'<b>Air Culture</b> !
          Inscrivez-vous et découvrez, grâce à la carte, toutes les sorties tout près de chez vous !         
          </p> 
          <p class="font-italic mb-0">
           <a routerLink="inscription" class="nav-link">S'inscrire</a>
          </p>                                           
      </div>
  </div>
  </section>
  
  

  <img class="d-block w-100" src="https://image.freepik.com/free-photo/eiffel-tower-map-concept-travel-maps-with-thai-language_44271-336.jpg" height="500">
</div>
  <br>
  <br>
  <br>



  
  
  