.profile-head {
    transform: translateY(5rem)
}
.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}
body {
    background: #654EA3;
    background: linear-gradient(to right, #E96443, #904E95);
    min-height: 100vh;
    overflow-x: hidden
}