<section class="vh-50" style="background-color: #eee;">
<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img src="https://www.icone-png.com/png/54/53783.png" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <!-- <a href="#" class="btn btn-outline-dark btn-sm btn-block">Modifier profil</a>-->
                        </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{user.nom}} {{user.prenom}} </h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{user.adresse.ville}} </p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block"></h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">Renseignements</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">Role : {{user.role}}</p>
                    <p class="font-italic mb-0">Contact: {{user.mail}} </p>
                    <p class="font-italic mb-0">Adresse : {{user.adresse.numeroRue}} {{user.adresse.rue}}, {{user.adresse.codePostale}}</p>
                    <p class="font-italic mb-0">Inscription: {{user.dateInscription | customDate}} </p>                                  
                </div>
            </div>
        </div>
    </div>
</div>
</section>
